@charset "UTF-8";
body {
    text-align: center;
    background: linear-gradient(to right, #f00, #fa0, #ff0, #0f0, #0ff, #00f, #808, #f00) 0 / 200% 100%;
    animation: 5s moves linear infinite;
    height: 80px;
}

@keyframes moves{
	0%{ background-position: 0%;}
    100% { background-position: 200%; }
}

